[Unit]
Description=svcmqtt container
After=docker-latest.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a svcmqtt.ncc9.com
ExecStop=/usr/bin/docker stop -t 2 svcmqtt.ncc9.com

[Install]
WantedBy=multi-user.target

